.message {
  margin: 10px auto 20px auto;
  text-align: center;
  background-color: #f1f1f1;
  &__error {
    color: #f13e41;
    font-size: 20px;
    font-weight: 400;
    padding: 10px 0;
  }
}

.container {
  display: flex;
  background: #fff;
  padding: 2rem;
  max-width: 90%;
  margin: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav {
  padding: 30px 0;
  background-color: cadetblue;
  
  &__list {
    display: flex;
    align-items: center;
    justify-content: right;
  }

  &__item {
    margin-right: 1.5rem;
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
  }
}



.auth-form {
  display: flex;
  flex-direction: column;

  &__item {
    margin-bottom: 1rem;

    &:not(:last-child) {
      border-bottom: 1px solid #eee;
    }
  }

  &__label {
    display: block;
    color: #333;
    margin-bottom: 0.5rem;
  }

  &__input {
    border: 1px solid #ddd;
    padding: 0.25rem 1rem;
    border-radius: 4px;
    width: 100%;
    font-size: 1.5rem;

    &:focus {
      outline: none;
      border-color: #b52e31;
    }
  }

  &__btn {
    background: #b52e31;
    color: #fff;
    padding: 0.75rem 1rem;
    border-radius: 4px;
    margin-top: 1rem;
    cursor: pointer;

    &:hover {
      background: darken(#b52e31, 10%);
    }
  }
}

.posts-container {
  flex: 7;
}

.post {
  margin: 20px 0;
  padding: 15px 5px;
  box-shadow: 16px 23px 30px -10px #e0e0e0;
  border-radius: 10px;

  &__username {
    font-weight: 500;
    margin-bottom: 5px;
  }

  &__content {
    font-size: 1.2rem;
  }

  &__image {
    max-width: 100%;
    height: auto;
    margin-top: 1rem;
  }

  &__created-at {
    font-size: 0.8rem;
  }
}

.posts-like-container {
  flex: 3;
  background-color: rgba(0, 0, 255, 0.007);
  padding: 20px;
}
